@model AccountUserEditVm

<h2>Edit user</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="AccountUser.Id" />
    <div class="form-group mt-3">
        <label asp-for="AccountUser.Name" class="control-label"></label>
        <input asp-for="AccountUser.Name" class="form-control" />
        <span asp-validation-for="AccountUser.Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="AccountUser.Email" class="control-label"></label>
        <input asp-for="AccountUser.Email" class="form-control" />
        <span asp-validation-for="AccountUser.Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="AccountUser.PhoneNumber" class="control-label"></label>
        <input asp-for="AccountUser.PhoneNumber" class="form-control" />
        <span asp-validation-for="AccountUser.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="AccountUser.Country" class="control-label"></label>
        <input asp-for="AccountUser.Country" class="form-control" />
        <span asp-validation-for="AccountUser.Country" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>