@model CategoryEditVm;

<h2>Edit Category</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Category.Id" />
    <div class="form-group">
        <label asp-for="Category.Name" class="control-label"></label>
        <input asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Category.ImageUrl" class="control-label">Image URL:</label>
        <input asp-for="Category.ImageUrl" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>