@model UserCreateVm
<h1>Create user</h1>
<p>Here the admin will be able to create a new user</p>

<form asp-action="Create">
    <div class="form-group mt-3">
        <label asp-for="User.Name" class="control-label"></label>
        <input asp-for="User.Name" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="User.Email" class="control-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="User.PhoneNumber" class="control-label"></label>
        <input asp-for="User.PhoneNumber" class="form-control" />
        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="User.Country" class="control-label"></label>
        <input asp-for="User.Country" class="form-control" />
        <span asp-validation-for="User.Country" class="text-danger"></span>
    </div>

    @* <div class="form-group">
    <label asp-for="User.Country" class="control-label"></label>
    <input asp-for="User.Country" class="form-control" />
    <span asp-validation-for="User.Country" class="text-danger"></span>
    </div> *@

    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@* Name
Email
Phonenumber
Country
Listings? *@