@model ListingCreateVm


<div class="container mt-5">
    <h1 class="text-center mb-4">Create Listing</h1>

    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Listing.Title" class="form-label"></label>
                    <input asp-for="Listing.Title" class="form-control" />
                    <span asp-validation-for="Listing.Title" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Listing.ImageUrl" class="control-label">Image URL:</label>
                    <input asp-for="Listing.ImageUrl" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Listing.Description" class="form-label"></label>
                    <textarea asp-for="Listing.Description" class="form-control"></textarea>
                    <span asp-validation-for="Listing.Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Listing.Price" class="form-label"></label>
                    <input asp-for="Listing.Price" type="number" class="form-control" />
                    <span asp-validation-for="Listing.Price" class="text-danger"></span>
                </div>

                <select asp-for="Listing.CategoryId" class="form-control">
                    <option value="">Select a Category...</option>
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </select>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
