@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Välkommen till Marknadsplatsen</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="/images/Cart-removebg-preview.png" alt="Descriptive Text">
</div>
